<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902936742324-l2l6nal3bnte85hap8oe4v72muk094pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902936742324-l2l6nal3bnte85hap8oe4v72muk094pa</string>
	<key>API_KEY</key>
	<string>AIzaSyACbNp9G4nobIzUw0PG8HgpfAHc4tF2Wq0</string>
	<key>GCM_SENDER_ID</key>
	<string>902936742324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techcentrix.sdk.demo</string>
	<key>PROJECT_ID</key>
	<string>techcentrix-sdk-internal-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>techcentrix-sdk-internal-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902936742324:ios:b9d41834834d1290</string>
	<key>DATABASE_URL</key>
	<string>https://techcentrix-sdk-internal-demo.firebaseio.com</string>
</dict>
</plist>